body {
  background: rgb(165, 100, 111);
  color: #fff;
  height: auto;
  font-style: oblique;
  padding: 30px;

}

@media (max-width: 600px) {
  body {
    background-color: brown;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 50px;
    background-color: purple;
  }
}




.box {
  background-color: crimson;

  margin: 150px 10px 30px 50px;
  padding: 30px 50px 45px 50px;
  border-top: 20px solid indianred;
  border-right: 10px solid indianred;
  border-left: 15px solid indianred;
  border-bottom: 4px solid indianred;
}