$color-branco: #fff !default;

$color-primaria: #3399cc !default;
$color-secundaria: #333366 !default;
$color-tercearia: #ff6633 !default;
$color-quartenaria: #b1f4ff !default;

$font-h1: 70px;
$font-h2: 30px;

$social-media-icons: 30px;

$btn-radius: 20px;